<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!-- นำ layout.ejs มาแสดง ใช้ ../ เพราะใช้ไฟล์นอก -->
    <%- include('../layout') %>
    <h1><%= data %></h1>
    <h2>ข้อมูลบทความทั้งหมด</h2>
    <p>by Artitaya</p>
</body>
</html>